In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from subprocess import check_output
from datetime import datetime

%matplotlib inline

plt.style.use('default')
sns.set(style="whitegrid")
pd.options.display.float_format= '{:20,.2f}'.format

In [4]:
clicks= pd.read_csv('Datos\clicks.csv.gzip',compression='gzip',engine='python')

In [22]:
dtypes= {'event_id': 'int16', 'application_id': 'int16', 'connection_type': 'str'}
eventos= pd.read_csv('Datos\events.csv.gzip',compression='gzip',engine='python',dtype = dtypes, parse_dates= ['date'])
eventos[['wifi']]= eventos[['wifi']].astype('bool')

In [9]:
dtypes2= {'platform': 'int8', 'ref_type_id': 'int8', 'source_id': 'int8'}

subastas= pd.read_csv('Datos\\auctions.csv.gzip',compression='gzip', dtype = dtypes2, parse_dates= ['date'], low_memory=False)

In [10]:
subastas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 7 columns):
auction_type_id    float64
country            int64
date               datetime64[ns]
device_id          int64
platform           int8
ref_type_id        int8
source_id          int8
dtypes: datetime64[ns](1), float64(1), int64(2), int8(3)
memory usage: 653.3 MB

In [11]:
subastas.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,nan,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,nan,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,nan,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,nan,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,nan,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [12]:
subastas.describe()

,auction_type_id,country,device_id,platform,ref_type_id,source_id
count,0.00,"19,571,319.00","19,571,319.00","19,571,319.00","19,571,319.00","19,571,319.00"
mean,nan,"6,333,597,105,650,062,336.00","4,599,150,701,084,380,160.00",1.21,2.24,0.69
std,nan,"3,016,674,380.92","2,667,138,400,416,446,976.00",0.40,2.43,1.42
min,nan,"6,333,597,102,633,388,032.00","113,858,820,194,433.00",1.00,1.00,0.00
25%,nan,"6,333,597,102,633,388,032.00","2,258,716,075,491,004,928.00",1.00,1.00,0.00
50%,nan,"6,333,597,102,633,388,032.00","4,616,600,174,211,652,608.00",1.00,1.00,0.00
75%,nan,"6,333,597,102,633,388,032.00","6,911,426,507,537,506,304.00",1.00,1.00,1.00
max,nan,"6,333,597,102,633,388,032.00","9,223,339,248,797,887,488.00",2.00,7.00,6.00

In [ ]:
#clicks['device_id']=clicks['ref_hash']
#aux= pd.merge(subastas,clicks, on='device_id',how='inner')