In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default')

sns.set(style="whitegrid")

pd.options.display.float_format = '{:20,.2f}'.format

dataframe = pd.read_csv('target_competencia.csv',low_memory=False)
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 4 columns):
index       235 non-null int64
ref_hash    235 non-null float64
obj_Sc      235 non-null int64
obj_St      235 non-null int64
dtypes: float64(1), int64(3)
memory usage: 7.4 KB

In [2]:
dataframe

     index                     ref_hash  obj_Sc  obj_St
0        0   137,898,135,704,568,768.00       0       0
1        1   150,879,151,115,867,648.00       0       0
2        2   151,413,055,298,024,576.00       0       0
3        3   151,646,640,932,198,912.00       0       0
4        4   200,770,436,957,651,680.00       0       0
5        5   318,590,979,956,754,816.00       0       0
6        6   362,380,528,586,932,992.00       0       0
7        7   393,297,232,025,900,416.00       0       0
8        8   399,118,550,705,192,384.00       0       0
9        9   518,891,384,654,349,696.00       0       0
10      10   602,175,348,165,545,344.00       0       0
11      11   621,182,160,691,559,552.00       0       0
12      12   638,451,485,525,336,960.00       0       0
13      13   746,333,537,313,742,592.00       0       0
14      14   764,698,712,531,736,576.00       0       0
15      15   779,148,419,503,725,056.00       0       0
16      16   796,604,527,157,310,208.00       0       0
17      17   803,936,845,291,291,904.00       0       0
18      18   844,654,132,383,644,032.00       0       0
19      19   875,065,175,921,457,536.00       0       0
20      20 1,076,912,451,967,168,000.00       0       0
21      21 1,150,089,475,214,005,760.00       0       0
22      22 1,170,173,773,026,322,944.00       0       0
23      23 1,188,969,653,000,534,016.00       0       0
24      24 1,270,099,917,501,315,072.00       0       0
25      25 1,321,416,516,296,486,912.00       0       0
26      26 1,342,880,638,178,096,128.00       0       0
27      27 1,359,239,776,518,155,008.00       0       0
28      28 1,404,912,920,549,123,840.00       0       0
29      29 1,410,093,994,073,523,968.00       0       0
..     ...                          ...     ...     ...
205    205 8,084,703,356,598,120,448.00       0       0
206    206 8,092,691,473,493,260,288.00       0       0
207    207 8,108,486,972,236,681,216.00       0       0
208    208 8,167,428,165,118,231,552.00       0       0
209    209 8,219,343,990,890,322,944.00       0       0
210    210 8,257,101,367,086,853,120.00       0       0
211    211 8,376,480,778,306,009,088.00       0       0
212    212 8,379,388,479,332,201,472.00       0       0
213    213 8,381,559,799,477,881,856.00       0       0
214    214 8,391,086,384,739,612,672.00       0       0
215    215 8,423,954,052,552,820,736.00       0       0
216    216 8,443,018,549,430,945,792.00       0       0
217    217 8,501,800,762,343,933,952.00       0       0
218    218 8,526,596,061,095,265,280.00       0       0
219    219 8,528,472,045,992,541,184.00       0       0
220    220 8,541,946,728,817,516,544.00       0       0
221    221 8,610,477,507,991,159,808.00       0       0
222    222 8,696,690,318,755,414,016.00       0       0
223    223 8,728,896,841,306,961,920.00       0       0
224    224 8,734,896,358,152,589,312.00       0       0
225    225 8,781,922,501,902,340,096.00       0       0
226    226 8,820,342,397,442,179,072.00       0       0
227    227 8,925,651,280,715,177,984.00       0       0
228    228 8,944,330,926,929,430,528.00       0       0
229    229 8,980,479,653,663,490,048.00       0       0
230    230 8,994,331,939,381,089,280.00       0       0
231    231 9,004,144,221,831,472,128.00       0       0
232    232 9,004,895,129,428,129,792.00       0       0
233    233 9,053,553,717,788,734,464.00       0       0
234    234 9,135,856,891,891,200,000.00       0       0

[235 rows x 4 columns]